<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">


        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-menu-item class="" style="font-weight: bolder;">
                <mat-icon style="margin-right: 3px;">exit_to_app</mat-icon>
                <span style="font-size: 16px;">Sair</span>
            </button>

        </div>

    </div>

</mat-toolbar>
