<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    attach_money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Vendas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" t="row" fxLayoutAlign="start center">
                    <input #filter [(ngModel)]="inputSearch" placeholder="Buscar por...">
                    <mat-icon *ngIf="inputSearch.length < 3">search</mat-icon>
                    <mat-icon class="clear-search" 
                    *ngIf="inputSearch.length > 2" (click)="resetInput()">cancel</mat-icon>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/venda/add'"
                class="add-product-button fuse-white mt-24 mt-md-0" id="novo-registro-vendalist">
                <mat-icon>add</mat-icon>
                <span class="add-registro-span">Novo Venda</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" id="vendalist-dados">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                
                <ng-container matColumnDef="valor">
                    <mat-header-cell fxFlex="200px" fxHide.lt-md *matHeaderCellDef mat-sort-header>Valor
                    </mat-header-cell>
                    <mat-cell fxFlex="200px" fxHide.lt-md *matCellDef="let venda">
                        <p class="nome-relatorio font-weight-400">{{venda.valor | currency : 'BRL':true}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                    <mat-cell *matCellDef="let venda" >
                        <p class="nome-relatorio font-weight-400">{{venda.cliente_nome}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="atendente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex.sm="220px">Atendente
                    </mat-header-cell>
                    <mat-cell *matCellDef="let venda" fxFlex.sm="220px">
                        <p class="nome-relatorio font-weight-400">{{venda.atendente_nome}}</p>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="servico">
                    <mat-header-cell *matHeaderCellDef fxHide.lt-md mat-sort-header>Serviço</mat-header-cell>
                    <mat-cell  *matCellDef="let venda" fxHide.lt-md>
                        <p class="nome-relatorio font-weight-400">{{venda.servico_nome}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <mat-header-cell fxFlex="100px" fxFlex.xs="70px" *matHeaderCellDef mat-sort-header >Ações
                    </mat-header-cell>
                    <mat-cell fxFlex="100px" fxFlex.xs="70px" *matCellDef="let venda">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation()" class="action-button">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu" class="menu-action">
                            <button mat-menu-item aria-label="toggle important" [routerLink]="['/venda/edit', venda.id]">
                                <mat-icon id="edit-icon">edit</mat-icon>
                                <span>Editar</span>
                            </button>

                            <button mat-menu-item aria-label="toggle important" (click)="excluirVenda(venda.id, venda.cli_razao_social)">
                                <mat-icon id="cancel-icon">cancel</mat-icon>
                                <span>Excluir</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>


                <mat-row *matRowDef="let venda; columns: displayedColumns;" matRipple>
                </mat-row>

            </mat-table>
            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>