
@import "@fuse/scss/core";

@import "app/app.theme";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

.snackbar {
    background-color: green !important;
    color: white !important;
    text-align: center;
    .mat-simple-snackbar {
        justify-content: center !important;
        font-size: 15px !important;
    }
}